body{
  font-family: sans-serif;
}
h1 {
  color: #008000;
  background-color: #888888;
  text-transform: uppercase;
  margin: 20px;
  padding: 40px;
  border-style: dashed;
  border-width: 3px;
  border-color: red;
}
p {
  color: #0000FF;
  font-size: 12px;
  text-decoration: line-through;
}
h2 {
  background-color: #888888;
  text-decoration: underline;
}
